[package]
name = "writeme"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
handlebars = "4.3.6"
rand = "0.8.5"
serde_json = "1.0.95"
terminal-spinners = "0.3.2"

[badges]
maintenance = { status = "enable" }
